body{
background:#1c1f3c;
color:white;
font-family:Arial;
text-align:center;
}

.box{
margin:20px;
}

input{
width:400px;
padding:10px;
font-size:16px;
}

button{
padding:10px 20px;
background:#00b894;
color:white;
border:none;
cursor:pointer;
}

img{
margin-top:20px;
width:500px;
background:white;
padding:10px;
}